In [1]:
import matplotlib.pyplot as plt
import csv
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
hawaii_measurments = pd.read_csv("hawaii_measurements.csv")
hawaii_stations = pd.read_csv("hawaii_stations.csv")

In [18]:
hawaii_measurments.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [19]:
clean_hawaii_measurements = hawaii_measurments.dropna(how="any")
clean_hawaii_measurements.to_csv("clean_hawaii_measurements.csv")
clean_hawaii_measurements.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [20]:
clean_hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70