In [8]:
# Add Dependencies
import pandas as pd
import numpy as np
import os
from datetime import date

import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, Date
from sqlalchemy.orm import Session

# PyMySQL 

import pymysql
pymysql.install_as_MySQLdb()

In [9]:
# Create an engine to a SQLite database file called "sqlite:///hawaii.sqlite"
engine = create_engine("sqlite:///hawaii.sqlite")
# Create a connection to the engine called `conn`
conn = engine.connect()

In [25]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
Base = declarative_base()

#create the measurement class
class Measurement(Base):
    __tablename__ = "Measurement"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
#create the station class
class Station(Base):
    __tablename__ = "Station"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String)
    latitude = Column(Float)
    Longitude = Column(Float)
    elecation = Column(Float)

In [26]:
# Use `create_all` to create the measurements table in the database
Base.metadata.create_all(engine)

session = Session(bind=engine)

In [27]:
# import station files to dataframe
station_df = pd.read_csv("hawaii_stations.csv")
clean_measurements = pd.read_csv("clean_hawaii_measurements.csv")

In [28]:
# send the station dataframe to the sqlite database
station_df.to_sql('Station', engine, index = False, if_exists='replace')

# check to make sure the data successfully entered
df = pd.read_sql_query('SELECT * FROM Station', engine)
df.head()

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(sqlite:///hawaii.sqlite): (Station)

In [18]:
# send the measurements datafram to the sqlite database
clean_measurements.to_sql('Measurement', engine, index = False, if_exists='replace')

# check to make sure the data successfully entered
df = pd.read_sql_query('SELECT * FROM Measurment', engine)
df.head()

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(sqlite:///hawaii.sqlite): (Measurement)